<div class="container">
	<h2>Log In</h2>
	<div class="login">
		<p>This will create a new public channel that anyone on your team can join.</p>	
	    <p class="name">
	        <label for="username">Username</label>
	        <input name="username" type="text" class="form-control title_input" value="" maxlength="21" ng-model="username">
	    </p>
	    <p class="desc">
	        <label for="password">Password</label>
	        <input name="password" type="text"  class="form-control" ng-model="password"></input>
	    </p>
	     <button class="btn btn-primary" ng-click="login(username, password)">Login</button>
	</div>
</div>